/* PHASE 11: Icons */

[class*="icon-"] {
    background-size: 25px 250px;
    background-image: url("../images/sprite.png");
    display: inline-block;
    width: 25px; 
    height: 0px;
    overflow: hidden;
    padding-top: 25px;
}

.icon-reblog {
    background-position: 0px 150px; 
}

.icon-reblog:hover {
    /* background-color: blueviolet; */
    background-position: 0px 125px;
}

.icon-favorite {
    background-position: 0px -50px; 
}

.icon-favorite:hover {
    /* background-color: blueviolet; */
    background-position: 0px -75px;
}

.icon-comment {
    background-position: 0px 0px; 
}

.icon-comment:hover {
    /* background-color: blueviolet; */
    background-position: 0px -25px;
}
